.buyNow {
    background-image:      url("../public/background.png");
    background-size:       cover;
    background-attachment: fixed;
    text-align:            center;
    height:                100vh;
    padding-top:           70px;
}

.content {
    display: block;
    margin-top: 70px;
}

.reward {
    margin-top: 53px;
}

.bought {
    margin-top: 50px;
}

.countDown {

}

.timeItem {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
}

.timeBlock {
    display: inline-block;
}

.timeName {
    margin-top: 20px;
    color: white;
}

.dots {
    display: inline-block;
    vertical-align: top;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
}

.dot:first-child {
    margin-top: 20px;
}

