.FooterBlock {
    background-color: var(--dark);
    text-align:       center;
}

.Footer {
    width:      100%;
    max-width:  1440px;
    margin:     auto;
    text-align: left
}

.FooterContent {
    background-color: var(--dark);
    padding-top:      40px;
    padding-bottom:   40px;
    margin-left:      131px;
    text-align:       left;
}

.starBot {
    vertical-align: top;
    text-align:     left;
    display:        inline-block;
    margin-right:   8vw;
    margin-bottom:  20px;
}

.block {
    display: inline-block;
}

.about {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    margin-right:   11vw;
}

.followUs {
    vertical-align: top;
    text-align:     left;
    display:        inline-block;
}

.title {
    font-family:   "Blender Pro", serif;
    font-style:    normal;
    font-weight:   bold;
    font-size:     20px;
    line-height:   130%;
    color:         var(--white);
    display:       block;
    margin-bottom: 20px;
}

.content {
    font-family:   "Open Sans", serif;
    font-style:    normal;
    font-weight:   normal;
    font-size:     16px;
    line-height:   160%;
    color:         var(--white);
    display:       block;
    margin-bottom: 20px;
}

.contentlink {
    font-family:     "Open Sans", serif;
    font-style:      normal;
    font-weight:     normal;
    font-size:       16px;
    line-height:     160%;
    color:           #00E1D2;
    display:         inline-block;
    text-decoration: underline;
}

.policy {
    margin-top: 20px;
}

.policyContent {
    font-family:  "Open Sans", serif;
    font-style:   normal;
    font-weight:  normal;
    font-size:    16px;
    line-height:  160%;
    color:        var(--white);
    display:      inline-block;
    margin-right: 2px;
}

.icon {
    margin-bottom: 24px;
}

@media only screen and (max-width: 820px) {
    .starBot {
        margin-right: 30px;
    }

    .followUs {
        margin-right: 30px;
    }

    .about {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .starBot {
        margin-right: 130px;
    }

    .about {
        margin-right: 150px;
    }
}

@media only screen and (min-width: 480px) {
    .starBot {
        width: 370px;
    }
}

@media only screen and (max-width: 1270px){

    .FooterContent {
        margin-left: 3vw;
    }
}