.Footer {
    background-color: var(--dark);
    padding-top:      40px;
    padding-bottom:   40px;
    padding-left:     5vw;
    text-align:       left;
}

.starBot {
    vertical-align: top;
    text-align:     left;
    display:        inline-block;
    margin-right:   120px;
    width:          370px;
    margin-bottom:  20px;
}

.block {
    display: inline-block;
}

.MyAccount {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    margin-right:   11vw;
}

.Stats {
    vertical-align: top;
    text-align:     left;
    display:        inline-block;
    margin-right:   120px;
    margin-top:     20px;
}

.Resources {
    vertical-align: top;
    text-align:     left;
    display:        inline-block;
    margin-right:   120px;
}

.title {
    font-family: "Blender Pro", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   20px;
    line-height: 130%;
    color:       var(--white);
    display:     block;
    margin-bottom: 8px;
}

.content {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       var(--white);
    display:     block;
    margin-bottom: 20px;
}

.contentlink {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       blue;
    display:     inline-block;
    text-decoration: underline;
}

.policy {
    margin-top: 20px;
}

.policyContent {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       var(--white);
    display:     inline-block;
    margin-right: 2px;
}

.icon {
    margin-bottom: 24px;
}