@font-face {
    font-family: "Blender Pro";
    src:         url(font/BlenderPro-Bold.woff);
}

.banner {
    left:  0;
    width: 100%;
}

.gameIntro {
    text-align: center;
    margin:     37px auto auto;
}

.gameIntroImg {
    width:   679px;
    height:  621px;
    display: inline-block;
}

.gameIntroText {
    display:        inline-block;
    vertical-align: top;
    margin-top:     175px;
    text-align:     left;
    width:          397px;
    word-break:     break-word;
    color:          var(--white);
}

.title {
    font-family: "Blender Pro", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   48px;
    line-height: 130%;
    color:       var(--white);
}

.content {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       var(--white);
}

.trailer {
    margin-top: 92px;
    text-align: center;
}

.trailerText {
    margin:     auto;
    text-align: center;
    width:      670px;
    word-break: break-word;
}

.trailerVideo {
    width:      1030px;
    height:     690px;
    margin:     40px auto auto;
    text-align: center;
}

.featureText {
    text-align: center;
    margin-top: 100px;
}

.unique {
    width:     100%;
    min-width: 1300px;
}

table.uniqueLayout {
    table-layout: fixed;
    width:        870px;
}

.roadmap {
    text-align: center;
    margin-top: 100px;
}

.roadmapText {
    text-align: center;
}

.roadmapContent {
    margin-top: 20px;
    display:    inline-block;
}

.roadmapLeft {
    display:        inline-block;
    vertical-align: top;
    text-align:     right;
    margin-top:     -20px;
    width:          85%;
}

.roadmapRight {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    margin-top:     -20px;
}

.roadmapArt {
    display:      inline-block;
    margin-right: 115px;
    margin-left:  115px;
    margin-top:   50px;
}

.roadmapBodyTop {
    position:       relative;
    text-align:     center;
    display:        inline-block;
    width:          16%;
    margin-left:    20px;
    margin-right:   20px;
}

.roadmapBodyBot {
    position:       relative;
    text-align:     center;
    display:        inline-block;
    width:          16%;
    margin-left:    20px;
    margin-right:   20px;
    vertical-align: top;
}

.roadmapStar {
    position: absolute;
    top:      -15px;
    right:    40%;
}

.sponsored {
    background-image: url("../public/background.png");
    margin-top:       100px;
    padding-top:      63px;
    padding-bottom:   57px;
    position:         relative;
    text-align:       center;
}

.sponsoredText {
    text-align: center;
    width:      504px;
    word-break: break-word;
    margin:     auto;
}

.sponsoredIcon {
    margin-top: 40px;
    text-align: center;
}

.sponsoredImage {
    display:        inline-block;
    margin-right:   113px;
    vertical-align: middle;
}

.sponsoredImage:last-child {
    margin: auto;
}

.ourTeam {
    text-align: center;
    margin-top: 100px;
}

.ourTeamIntro {
    width:  470px;
    margin: auto;
}

.ourTeamLayout {
    table-layout: fixed;
    width:        1136px;
    margin:       92px auto;
}

.btn {
    display:       block;
    width:         150px;
    padding:       8px 0;
    margin:        20px auto;
    background:    #4979ff;
    border-radius: 4px;
    color:         white;
    text-align:    center;
}

