.bodyContent {
    background-image:      url("../public/BG.png");
    background-attachment: fixed;
    background-size:       cover;
    background-position:   center;
}


.videoBanner {
    position: relative;
    width:    100%;
}

.videoFooter {
    position: absolute;
    top:      -152px;
    left:     0;
    width:    100%;
    height:   52px;
    z-index:  2;
}

.banner {
    left:  0;
    width: 100%;
}

.gameIntro {
    text-align: center;
    margin:     var(--MarginBlock) auto auto;
    position:   relative;
}

.gameIntroImg {
    width:      52vw;
    max-width:  1041px;
    max-height: 523px;
    min-width:  450px;
    margin-top: 8px;
}

.gameIntroText {
    vertical-align: top;
    margin:         auto auto;
    text-align:     center;
    width:          var(--titleMobiW);
    word-break:     break-word;
    color:          var(--white);
}

.title {
    font-family: "Aquire Bold", serif;
    font-style:  normal;
    font-weight: 800;
    font-size:   48px;
    line-height: 130%;
    color:       var(--white);
    max-width:   800px;
    margin:      auto;
}

.content {
    font-family: "Open Sans-regular";
    font-style:  normal;
    font-weight: normal;
    font-size:   18px;
    line-height: 160%;
    color:       var(--gray);
    max-width:   800px;
    margin:      16px auto;
}

.trailer {
    margin-top: var(--MarginBlock);
    text-align: center;
}

.trailerText {
    margin:     auto;
    text-align: center;
    width:      52vw;
    word-break: break-word;
}

.trailerVideo {
    width:      55.6vw;
    height:     31.25vw;
    max-width:  var(--MaxWItem);
    max-height: 450px;
    margin:     60px auto auto;
    text-align: center;
}

.feature {
    max-width: 1200px;
    margin:    auto;
}

.featureText {
    text-align: center;
    margin-top: var(--MarginBlock);
}

.unique {
}

table.uniqueLayout {
    table-layout: fixed;
    margin:       auto;
    width:        76%;
}

.featureTr {
    vertical-align: top;
}

.roadmap {
    text-align: center;
    margin:     var(--MarginBlock) auto 0;
}

.roadmapText {
    text-align: center;
}

.roadmapContent {
    margin-top: 20px;
    display:    inline-block;
}

.roadmapLeft {
    display:        inline-block;
    vertical-align: top;
    text-align:     right;
    width:          17vw;
    margin-top:     40px;
}

.roadmapTop {
    display:        inline-block;
    vertical-align: top;
    margin-top:     20px;
    width:          95%;
}

.roadmapBot {
    display:        inline-block;
    vertical-align: top;
    margin-top:     20px;
    margin-bottom:  50px;
    width:          95%;
}

.roadmapRight {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    width:          17vw;
    margin-top:     40px;
}

.roadmapArt {
    display:       inline-block;
    margin-top:    40px;
    margin-bottom: 20px;
}

.roadmapArt img {
    max-width: 1200px;
}

.roadmapArtCol {
    display:      inline-block;
    margin-right: 95px;
    margin-left:  95px;
}

.roadmapArtCol img {
    height: 1000px;
}

.roadmapBodyCol {
    position:      relative;
    height:        113px;
    margin-bottom: 50px;
}

.roadmapBodyTop {
    position:     relative;
    text-align:   center;
    display:      inline-block;
    width:        170px;
    margin-left:  20px;
    margin-right: 20px;
}

.roadmapBodyBot {
    position:       relative;
    text-align:     center;
    display:        inline-block;
    width:          170px;
    margin-left:    20px;
    margin-right:   20px;
    vertical-align: top;
}

.roadmapStar {
    position: absolute;
    top:      -75px;
    right:    40%;
}

.roadmapStarCol {
    position: absolute;
    top:      26%;
    right:    -125px;
}

.sponsored {
    margin-top:          50px;
    padding-bottom:      60px;
    padding-top:         60px;
    position:            relative;
    text-align:          center;
    background-image:    url("../public/background.png");
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
}

.sponsoredBackgroud {
    position: absolute;
    width:    100%;
    z-index:  -1;
    left:     0;
    top:      0;
    height:   100%;
}

.sponsoredText {
    text-align: center;
    max-width:  800px;
    word-break: break-word;
    margin:     auto;
}

.sponsoredIcon {
    text-align: center;
    max-width:  800px;
    margin:     40px auto 0;
}

.sponsoredImage {
    display:        inline-block;
    margin-right:   30px;
    margin-left:    30px;
    vertical-align: middle;
    width:          11.8vw;
    max-width:      300px;
    min-width:      150px;
}

.ourTeam {
    text-align: center;
    margin-top: var(--MarginBlock);
}

.ourTeamIntro {
    width:     55.56vw;
    max-width: var(--MaxWItem);
    margin:    auto;
}

.ourTeamLayout {
    table-layout: fixed;
    width:        86%;
    margin:       40px auto 0;
    max-width:    1200px;
}

.btn {
    display:       block;
    width:         150px;
    padding:       8px 0;
    margin:        20px auto;
    background:    #4979ff;
    border-radius: 4px;
    color:         white;
    text-align:    center;
}


@media only screen and (max-width: 820px) {
    .gameIntroText {
        width: 100%;
    }

    .gameIntroImg {
        width:  100%;
    }

    .trailerVideo {
        width:  98%;
        height: 55.125vw;
    }

    .trailerText {
        width: 100%;
    }
}

