@font-face {
    font-family: "Blender Pro";
    src:         url(font/BlenderPro-Bold.woff);
}

.banner {
    left:  0;
    width: 100%;
}

.gameIntro {
    text-align: center;
    margin:     40px auto auto;
}

.gameIntroImg {
    width:      100%;
    margin-top: 8px;
}

.gameIntroText {
    vertical-align: top;
    margin:         auto auto;
    text-align:     center;
    width:          var(--titleMobiW);
    word-break:     break-word;
    color:          var(--white);
}

.title {
    font-family: "Blender Pro", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   32px;
    line-height: 130%;
    color:       var(--white);
    max-width:   800px;
    margin:      auto;
}

.content {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       var(--white);
    max-width:   800px;
    margin:      16px auto;
}

.trailer {
    margin-top: var(--MarginBlockMb);
    text-align: center;
}

.trailerText {
    margin:     auto;
    text-align: center;
    width:      var(--titleMobiW);
    word-break: break-word;
}

.trailerVideo {
    width:      98vw;
    height:     55vw;
    max-width:  var(--MaxWItem);
    max-height: 450px;
    margin:     60px auto auto;
    text-align: center;
}

.featureText {
    text-align: center;
    width:      var(--titleMobiW);
    margin:     var(--MarginBlockMb) auto;
}

.roadmap {
    text-align: center;
    max-width:  1200px;
    margin:     var(--MarginBlockMb) auto;
}

.roadmapText {
    text-align: center;
}

.roadmapContent {
    margin-top: 20px;
    display:    inline-block;
}

.roadmapLeft {
    display:        inline-block;
    vertical-align: top;
    text-align:     right;
    width:          33vw;
    margin-top:     40px;
}

.roadmapRight {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    width:          33vw;
    margin-top:     40px;
}

.roadmapArtCol {
    display:      inline-block;
    margin-right: 30px;
    margin-left:  30px;
}

.roadmapBodyCol {
    position:      relative;
    height:        113px;
    margin-bottom: 50px;
}

.roadmapStarCol {
    position: absolute;
    top:      27%;
    right:    -59px;
}

.sponsored {
    margin-top:            var(--MarginBlockMb);
    padding-bottom:        40px;
    padding-top:           40px;
    position:              relative;
    text-align:            center;
    background-image:      url("../public/background.png");
    background-repeat:     no-repeat;
    background-attachment: fixed;
    background-size:       100% 100%;
}

.sponsoredBackgroud {
    position: absolute;
    width:    100%;
    z-index:  -1;
    left:     0;
    top:      0;
    height:   100%;
}

.sponsoredText {
    text-align: center;
    max-width:  800px;
    word-break: break-word;
    margin:     auto;
}

.sponsoredIcon {
    text-align: center;
    max-width:  800px;
    margin:     30px auto 0;
}

.sponsoredImage {
    display:        inline-block;
    margin-right:   12px;
    margin-left:    12px;
    vertical-align: middle;
    width:          11.8vw;
    max-width:      176px;
    min-width:      159px;
}

.ourTeam {
    text-align: center;
    margin-top: var(--MarginBlockMb);
}

.ourTeamIntro {
    width:     55.56vw;
    max-width: var(--MaxWItem);
    margin:    auto auto 40px;
}

.btn {
    display:       block;
    width:         150px;
    padding:       8px 0;
    margin:        20px auto;
    background:    #4979ff;
    border-radius: 4px;
    color:         white;
    text-align:    center;
}

