@font-face {
    font-family: "Blender Pro";
    src:         url(font/BlenderPro-Bold.woff);
}

.banner {
    left:  0;
    width: 100%;
}

.gameIntro {
    text-align: center;
    margin:     37px auto auto;
}

.gameIntroImg {
    width:      100%;
    margin-top: 8px;
}

.gameIntroText {
    vertical-align: top;
    margin:         60px auto auto;
    text-align:     center;
    width:          var(--titleMobiW);
    word-break:     break-word;
    color:          var(--white);
}

.title {
    font-family: "Blender Pro", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   48px;
    line-height: 130%;
    color:       var(--white);
}

.content {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    color:       var(--white);
}

.trailer {
    margin-top: 72px;
    text-align: center;
}

.trailerText {
    margin:     auto;
    text-align: center;
    width:      var(--titleMobiW);
    word-break: break-word;
}

.trailerVideo {
    width:         98vw;
    height:        53vw;
    margin:        40px auto auto;
    padding-right: 3px;
    padding-left:  3px;
    text-align:    center;
}

.featureText {
    text-align: center;
    margin-top: 100px;
}

.roadmap {
    text-align: center;
    margin-top: 100px;
}

.roadmapText {
    text-align: center;
}

.roadmapContent {
    margin-top: 20px;
    display:    inline-block;
}

.roadmapLeft {
    display:        inline-block;
    vertical-align: top;
    text-align:     right;
    width:          30vw;
    margin-top:     40px;
}

.roadmapRight {
    text-align:     left;
    display:        inline-block;
    vertical-align: top;
    width:          30vw;
    margin-top:     40px;
}

.roadmapArtCol {
    display:      inline-block;
    margin-right: 30px;
    margin-left:  30px;
    height:       1240px;
}

.roadmapBodyCol {
    position:      relative;
    height:        226px;
    margin-bottom: 40px;
}

.roadmapStar {
    position: absolute;
    top:      -145px;
    right:    40%;
}

.roadmapStarCol {
    position: absolute;
    top:      20%;
    right:    -125px;
}

.sponsored {
    margin-top:     130px;
    padding-bottom: 57px;
    padding-top:    60px;
    position:       relative;
    text-align:     center;
}

.sponsoredBackgroud {
    position: absolute;
    width:    100%;
    z-index:  -1;
    left:     0;
    top:      0;
    height:   100%;
}

.sponsoredText {
    text-align: center;
    word-break: break-word;
    margin:     auto;
}

.sponsoredIcon {
    margin-top: 40px;
    text-align: center;
}

.sponsoredImage {
    display:        inline-block;
    margin-right:   2vw;
    margin-left:    2vw;
    vertical-align: middle;
    width:          40vw;
}

.ourTeam {
    text-align: center;
    margin-top: 80px;
}

.ourTeamIntro {
    margin: auto;
}

.btn {
    display:       block;
    width:         150px;
    padding:       8px 0;
    margin:        20px auto;
    background:    #4979ff;
    border-radius: 4px;
    color:         white;
    text-align:    center;
}

