.ourTeamItem {
    width:         218px;
    height:        234px;
    display:       inline-block;
    margin-bottom: 60px;
}

.title {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   20px;
    line-height: 150%;
    color:       var(--white);
    margin-top:  8px;
}

.content {
    font-family: "Open Sans", serif;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    margin-top:  8px;
    /* or 26px */

    text-align:  center;
    color:       var(--white);
}