.text {
    margin:  20px auto auto;
    font-family: 'Open Sans', serif;
    width: 100%;
    word-break: break-word;
    font-style:  normal;
    font-weight: bold;
    font-size:   24px;
    line-height: 150%;
    color:       var(--white);
}

.img {
    background-blend-mode: lighten;
    width: 100%;
}

.content {
    width:      100%;
}