.content {
    left:        283px;
    top:         229px;

    /* H1/Bold */

    font-family: "Aquire", serif;
    font-style:  normal;
    font-weight: bold;
    font-size:   32px;
    line-height: 140%;
    /* or 73px */
    color:       var(--white);
}

.month {
    height: 31px;
}