@font-face {
    font-family: "Open Sans-bold";
    src:         url(font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans-regular";
    src:         url(font/OpenSans-Regular.ttf);
}

.unique {
    width:          260px;
    display:        inline-block;
    margin-right:   20px;
    margin-left:    20px;
    vertical-align: top;
}

.title {
    font-family: "Open Sans-bold";
    font-style:  normal;
    font-weight: 800;
    font-size:   20px;
    line-height: 150%;
    color:       var(--white);
    margin-top:  20px;
}

.content {
    margin:      16px auto auto;
    font-family: "Open Sans-regular";
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 160%;
    width:       260px;
    word-break:  break-word;
    color:       var(--white);
    flex:        none;
    order:       1;
    align-self:  stretch;
    flex-grow:   0;
}

.img {
    margin: 40px auto auto;
    width:      170px;
}