.unique {
    margin: 50px auto;
    width:  70%;
}

.title {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 800;
    font-size:   20px;
    line-height: 150%;
    color:       var(--white);
    margin-top:  30px;
}

.content {
    margin:        16px auto auto;
    font-family:   "Inter";
    font-style:    normal;
    font-weight:   normal;
    font-size:     16px;
    line-height:   160%;
    word-break:    break-word;
    color:         var(--gray);
    flex:          none;
    order:         1;
    align-self:    stretch;
    flex-grow:     0;
    padding-right: 2px;
    padding-left:  2px;
}

.img {
    margin: auto;
    width:  170px;
}