:root {
    /**
    color
     */
    --dark:          #011B3F;
    --white:         #FFFFFF;
    --gray:          #EBEBEB;

    /**
    layout
     */
    --titleMobiW:    98vw;
    --MarginBlock:   100px;

    --MarginBlockMb: 50px;

    --MaxWItem:      800px;

}

@font-face {
    font-family: "Blender Pro";
    src:         url(font/BlenderPro-Bold.woff);
}

@font-face {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: normal;
    src: url('font/AquireBold-8Ma60.otf') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: url('font/Inter-Regular.ttf') format('woff');
}

