:root {
    /**
    color
     */
    --dark: #011B3F;
    --white: #FFFFFF;

    /**
    layout
     */
    --titleMobiW: 98vw;
    --MarginBlock: 100px;

    --MarginBlockMb: 50px;

    --MaxWItem: 800px;

    --roadMapCompsHeight: 176px
}